#code {
    width:880px; height:530px; margin:0 auto;
	color:white; background-color:black;
	border:3px solid #e8e8e8;
	resize:both; overflow:scroll;
	font-family:monospace; word-wrap:break-word;
}
.escape { color: #55f; }
.caret { border:1px solid green; }
#code:focus .caret { background-color:green; border:none; }
